/*Login*/
.main-view-post {
    display: inline-block;
    min-height: 300px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
}
.form-login {
    margin: 0 auto;
    width: 400px;
}
.form-send-register h1.title-head,
.form-login h1.title-head {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    font-weight: normal;
}
.title-head span {
    font-size: 22px;
}
.link-tab {
    color: #555;
    font-size: 18px;
}
.box-register .formSendLogin {
    width: 305px;
}
.box-register .form-group {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}
.box-register label {
    display: inline-block;
    float: left;
    font-weight: normal;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.control-label span {
    color: #ff0000;
}
.box-register .form-control {
    border-radius: 2px;
    box-shadow: none;
    display: inline-block;
    float: left;
    width: 100%;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    height: 22px;
    line-height: 1.42857;
    padding: 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.forgotpass {
    color: #333;
    display: inline-block;
    font-style: italic;
    margin-left: 10px;
    margin-top: 2px;
}
.forgotpass:hover {
    text-decoration: underline;
}