/*Default*/
* {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857;
}
a,
a:link,
a:active,
a:visited,
a:hover,
a:focus {
    outline: medium none;
    text-decoration: none;
    color: #555;
}
/*Header*/
.container {
    margin: 0 auto;
    width: 1300px;
    padding:0 15px;
}
.link-top-head {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    height: 30px;
    line-height: 30px;
    min-width: 1300px;
    position: relative;
    width: 100%;
}
.box-login {
    display: inline-block;
    float: right;
}
.btnLog {
    display: inline-block;
    font-size: 12px;
    padding-left: 12px;
    vertical-align: top;
}
.btnLog:hover,
.btnLog:focus,
.btnLog:active {
    color: #ff7300;
}
.btnLog .register {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -55px 1px;
    display: inline-block;
    height: 25px;
    margin-right: 3px;
    vertical-align: top;
    width: 25px;
}
.btnLog .login {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -82px 1px;
    display: inline-block;
    height: 25px;
    margin-right: 3px;
    vertical-align: top;
    width: 25px;
}
.center-header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
}
.top-header {
    clear: both;
    display: inline-block;
    margin-top: 8px;
    width: 100%;
}
#logo {
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    margin-top: 8px;
    overflow: hidden;
    width: 230px;
}
#logo img{
    border-radius: 4px;
    display: block;
    width: 100%;
}
.box-top-header-right {
    display: inline-block;
    float: right;
    margin-top: 15px;
    width: 78%;
}
.search-top-center {
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 70%;
}
.box-search {
    border: 2px solid #fe6d01;
    display: inline-block;
    float: left;
    width: 95%;
}
.provices_id {
    border: medium none;
    height: 30px;
    width: 35%;
}
.category_id{
    border: none;
    height: 30px;
    width: 50%;
}
.btn-search{
    background: #fe6d01;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-style: italic;
    font-weight: bold;
    padding: 6px 15px;
}
.btn-search:hover {
    background: #f16000;
}
.box-right-focus {
    display: inline-block;
    float: left;
}
.support-contact .icon-book{
    font-size: 30px;
    color:#ddd;
    margin-right:10px;
    position: relative;
    top:2px; 
}
.support-contact {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 18px;
    margin: 1px 0;
    padding: 2px 8px 3px;
    position: relative
}
.support-contact:hover{
    color: #005981;
    background: #fff;
    border: 1px solid #ddd;
}
.support-contact .icon-phone::before {
    background: #fe6d00 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 23px;
    margin-right: 5px;
}
.support-contact i.idrop {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    display: inline-block;
    position: relative;
    right: 0;
    top: -2px;
    margin-left: 2px;
}
.support-contact .box-hover-support-contact{
     background: #fff none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    color: #444;
    cursor: default;
    display: none;
    left: -158px;
    padding: 10px 0;
    position: absolute;
    top: 40px;
    width: 455px;
    z-index: 110;
}
.support-contact:hover .box-hover-support-contact{
    display: block;
}
.box-hover-support-contact .top-arrow-box{
    height: 9px;
    left: 0;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 100%;
}
.box-hover-support-contact .top-arrow-box > i{
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0px 0px;
    display: inline-block;
    height: 9px;
    position: relative;
    top: -6px;
    width: 14px;
    left: -15px;
}
.box-hover-support-contact .custommer{
    border-bottom: 1px solid #ddd;
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
}
.box-hover-support-contact .custommer b{
    color: #444;
    text-transform: uppercase;
}
.support-user-shop{
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
}
.support-user-shop b{
    color: #444;
    text-transform: uppercase;
}
.support-user-shop ul{
    border: 0 none;
    padding: 0 5px 0 10px;
    margin-bottom: 0;
}
.support-user-shop ul li {
    line-height: 25px;
    font-size: 12px;
}
.support-user-shop ul li i {
    border-color: transparent transparent transparent #c2c2c2;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    display: block;
    float: left;
    margin: 10px 7px 9px 0;
}
.chat-sky {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0 -8px;
    display: inline-block;
    height: 15px;
    margin: 3px 15px 0 5px;
    position: relative;
    top: 2px;
    width: 45px;
}
.shopping-cart {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -145px 0;
    display: inline-block;
    float: left;
    height: 46px;
    margin-left: 105px;
    margin-top: -10px;
    position: relative;
    width: 50px;
}
.shopping-cart .num-item {
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    font-weight: 400;
    height: 16px;
    left: 12px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 14px;
}
.box-header-link{
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}
.box-menu-title {
    display: inline-block;
    float: left;
    position: relative;
    width: 230px;
    z-index: 2;
}
.box-menu-title {
    display: inline-block;
    float: left;
    position: relative;
    width: 230px;
    z-index: 2;
}
.list-product-new{
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 58px;
    font-size: 14px;
    font-style: italic;
}
.list-product-new .icon-list-new {
    background: rgba(0, 0, 0, 0) url("../img/new.gif") repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    position: relative;
    top: 1px;
    width: 25px;
}
.desc-price-day {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 14px;
    font-style: italic;
}
.desc-price-day .icon-star-empty{
    color: #fe6d00;
    font-size: 18px;
}
.title-cat-menu {
    color: #222;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 5px 10px 1px;
    text-transform: uppercase;
}
.icon-cat-title {
    display: inline-block !important;
    float: left;
    margin-right: 10px;
    margin-top: 2px !important;
    width: 18px !important;
}
.ic-line {
    background: #222 none repeat scroll 0 0;
    clear: both;
    display: block;
    height: 3px;
    margin-bottom: 2px;
    width: 100%;
}
.list-giai-tri {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-style: italic;
    margin-left: 20px;
    margin-top: 10px;
}
.right-ultity {
    color: #9a9a9a;
    display: inline-block;
    float: right;
    height: 38px;
    margin-left: 30px;
    overflow: hidden;
    width: 730px;
}
.shop-create {
    display: inline-block;
    float: left;
    width: 220px;
}
.right-ultity i {
    margin-right: 5px;
}
.shop-create i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0 -95px;
    display: inline-block;
    float: left;
    height: 29px;
    width: 29px;
}
.right-ultity span {
    font-style: italic;
}
.shop-transfer {
    display: inline-block;
    float: left;
    width: 220px;
}
.shop-transfer i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -34px -95px;
    display: inline-block;
    float: left;
    height: 32px;
    width: 58px;
}
.shop-diversity {
    display: inline-block;
    float: left;
    width: 220px;
}
.shop-diversity i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -93px -95px;
    display: inline-block;
    float: left;
    height: 29px;
    width: 48px;
}
/*Menu*/
.box-menu-list{
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    width: 230px;
    position: relative;
    display: inline-block;
    float: left;
    height: 351px;
}
.icon-cat-title {
    display: inline-block !important;
    float: left;
    margin-right: 10px;
    margin-top: 2px !important;
    width: 18px !important;
}
.ic-line {
    background: #222;
    clear: both;
    display: block;
    height: 3px;
    margin-bottom: 2px;
    width: 100%;
}
.title-cat-menu .right-down {
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 20px;
    position: relative;
    right: 32px;
    top: -4px;
}
.front .title-cat-menu .right-down{
    display: none;
}
.title-cat-menu {
    color: #222;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 5px 10px 1px;
    text-transform: uppercase;
}
.box-menu-hover.act .title-cat-menu{
    color: #cc0000;
}
.box-menu-hover.act .title-cat-menu .ic-line{
    background: #cc0000;
}
.content-box-menu{
    background: #fff;
}
.content-box-menu.header-menu-other{
    border: 1px solid #ddd;
    display: none;
    height: 344px;
    position: absolute;
    width: 230px;
    z-index: 999;
}
.box-menu-title:hover .content-box-menu.header-menu-other{
    display: block;
}
.content-box-menu > ul{
    margin-bottom: 0;
}
.content-box-menu > ul > li{
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 13px;
    text-decoration: none;
}
.content-box-menu ul > li > a {
    display: inline-block;
    text-transform: none;
    width: 100%;
}
.content-box-menu ul > li:last-child{
    border-bottom: none;
}
.content-box-menu .list-subcat{
    border: 1px solid #ddd;
    display: none;
    left: 100%;
    width: 618px;
    padding-left: 30px;
    padding-right: 15px;
    position: absolute;
    top: -1px;
    z-index: 22;
    min-height: 352px;
    max-height: 352px;
    overflow: hidden;
}
.content-box-menu.header-menu-other .list-subcat {
    max-height: 344px;
    min-height: 344px;
    overflow: hidden;
}
.content-box-menu ul > li:hover .list-subcat{
    display: inline-block;
}
.list-subcat ul {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 38%;
}
.content-box-menu .list-subcat li {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}
.content-box-menu .list-subcat li a:hover{
    font-weight: bold;
}
/*Content*/
#content {
    display: inline-block;
    min-height: 350px;
    width: 100%;
}
/*Footer*/
.top-bg-footer{
    background: #202020;
    border-top: 1px solid #fff;
    min-width: 1300px;
    padding: 20px 0 10px;
}
.bottom-footer{
    background: #121212;
    color: #6a6a6a;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}

#footer .address {
    color: #fff;
    display: inline-block;
    float: left;
}
#footer .address * {
    font-size: 14px;
}
#footer .bottom-footer a{
    color: #2196f3;
}
#footer .bottom-footer a:hover{
    text-decoration: underline;
}
.top-footer {
    border-bottom: 1px solid #6a6a6a;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 18px;
    width: 100%;
}
.top-footer span {
    color: #fff;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.midd-footer{
    display: inline-block;
    width: 100%;
    clear: both;
}
.midd-footer > ul {
    display: inline-block;
    float: left;
    left: 15px;
    margin-right: 5px;
    position: relative;
    width: 24%;
    list-style: outside none none;
}
.midd-footer > ul li {
    list-style: outside none none;
    margin-bottom: 4px;
    vertical-align: top;
}
.midd-footer > ul li span {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.midd-footer > ul li a {
    color: #bebebe;
}
.midd-footer > ul li a:hover{
    color: #fe6d00;
}
.note-footer{
    color: #fe6d00;
    clear: both;
    margin-top: 20px;
    display: inline-block;
    font-style: italic;
}
.right-top-footer {
    display: inline-block;
    float: right;
    vertical-align: top;
}
.right-top-footer .icon-facebook {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -54px -28px;
    display: inline-block;
    height: 25px;
    margin-right: 3px;
    vertical-align: top;
    width: 25px;
}
.right-top-footer .icon-google-plus {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -82px -28px;
    display: inline-block;
    height: 25px;
    margin-right: 3px;
    vertical-align: top;
    width: 25px;
}
.bg-icon-temviewer{
    background: url(../img/icon-temviewer.png) no-repeat 0 0;
    height: 60px;
    width: 120px;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 10px;
}
.bg-icon-temviewer span {
    float: right;
    font-size: 10px !important;
    font-weight: normal !important;
    line-height: 12px !important;
    margin-right: 5px;
    margin-top: 27px;
    text-align: center;
    text-transform: none !important;
    width: 65px;
}
.bg-icon-temviewer a{
    color: #fff;
}
.midd-footer  .address .phone {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    color: #fe6d00;
    display: inline-block;
    font-style: italic;
    margin-top: 5px;
    padding: 5px;
}
.back-to-top {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -108px 1px;
    bottom: 5px;
    display: inline-block;
    height: 35px;
    position: fixed;
    right: 10px;
    transition: all 1s ease 0s;
    vertical-align: top;
    width: 35px;
    z-index: 99;
}
/*News*/
.link-breadcrumb {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 5px 8px;
    text-transform: none;
}
.main-view-post {
    display: inline-block;
    min-height: 300px;
    width: 100%;
}
.left-news-view {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding: 5px 10px;
    width: 1000px;
}
.title-news, .title-video {
    border-bottom: 1px dotted #ddd;
    color: #444;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 2px 0 10px;
    padding-bottom: 2px;
    position: relative;
}
.list-news-post .item-news {
    background: #fff none repeat scroll 0 0;
    clear: both;
    display: inline-block;
    margin: 0 0 2em;
    width: 100%;
}
.list-news-post .item-news .post-img {
    display: inline-block;
    float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 300px;
}
.list-news-post .item-news .post-img img {
    width: 100%;
}
.post-data {
    margin-top: 0;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
}

.post-data .post-title{
    font-style: normal;
    font-weight: normal;
}
.post-title a {
    color: #444;
    display: block;
    font-size: 21px;
    line-height: 1.3em;
    margin: 0;
}
.post-title a:hover {
    color: #2858a0;
}
.post-format {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 0.5s ease 0s;
    width: 100%;
    z-index: 2;
}
.post-format .fa-file-text{
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    left: 50%;
    line-height: 35px;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: scale(0, 0);
    transition: all 0.2s ease 0s;
    width: 40px;
}
.redmoreNews {
    background: #fe6d01 none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}
.redmoreNews a {
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
    padding: 8px 15px;
    text-align: center;
    transition: all 0.1s linear 0s;
    vertical-align: middle;
    white-space: nowrap;
}
.right-news-view {
    display: inline-block;
    float: right;
    width: 260px;
}
.content-right-product {
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    margin-bottom: 8px;
    padding: 15px;
}
.content-right-product.search {
    background: #f2f2f2 none repeat scroll 0 0;
}
.content-right-product.search form {
    white-space: nowrap;
}
.keyword-news {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px;
    width: 131px;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 1px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.right-bottom-content-view {
    display: inline-block;
    float: right;
    width: 100%;
}
.content-right-bottom-content-view ul,
.content-right-bottom-content-view li{
    list-style: none;
}
.right-bottom-content-view .title-hot {
    border-bottom: 1px solid #dedede;
    line-height: 35px;
    margin-bottom: 15px;
}
.right-bottom-content-view .title-hot span {
    border-bottom: 2px solid #faa52e;
    color: #555;
    cursor: default;
    display: inline-block;
    font-family: "Roboto",arial,sans-serif;
    font-size: 18px;
    margin: 0 0 -1px;
    text-transform: uppercase;
}
.content-right-bottom-content-view ul li {
    box-shadow: 0 0 2px rgba(87, 87, 87, 0.6);
    color: #999;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.content-right-bottom-content-view ul li .i-thumb {
    display: block;
    height: auto;
    margin: 0 0 8px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.content-right-bottom-content-view ul li a.item-name {
    color: #007dcd;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
}
.content-right-bottom-content-view ul li a:hover{
    text-decoration: underline;
}
.content-right-bottom-content-view ul li .item-price {
    clear: both;
    color: #a10e0e;
    display: inline-block;
    font-size: 16px;
    position: relative;
    width: 100%;
}
.item-price {
    height: 18px;
    letter-spacing: -0.8px;
    line-height: 18px;
}
.content-right-bottom-content-view ul li .price-sale {
    color: #990000;
    display: inline-block;
    float: left;
    font-size: 15px;
    font-weight: 700;
    margin: 0 15px 0 0;
    position: relative;
    white-space: nowrap;
}
.mgt5 {
    margin-top: 5px;
}
.amount-call {
    color: #666 !important;
    position: relative;
}
.content-right-bottom-content-view .link-shop {
    color: #c63829;
    font-size: 13px;
    font-style: normal;
    margin-left: 2px;
}
.intro-news, .intro-video {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.content-news, .content-video {
    color: #222;
    font-size: 14px;
    line-height: 20px;
}
.same-content-news {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    width: 100%;
}
.same-content-news ul {
    margin-top: 12px;
    list-style: none;
}
.same-content-news a {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: none;
}
.same-content-news a:hover {
    text-decoration: underline;
}
/*Home*/
.box-menu-list{
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    width: 230px;
    position: relative;
    display: inline-block;
    float: left;
    height: 427px;
}
.icon-cat-title {
    display: inline-block !important;
    float: left;
    margin-right: 10px;
    margin-top: 2px !important;
    width: 18px !important;
}
.ic-line {
    background: #222;
    clear: both;
    display: block;
    height: 3px;
    margin-bottom: 2px;
    width: 100%;
}
.title-cat-menu .right-down {
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 20px;
    position: relative;
    right: 32px;
    top: -4px;
}
.front .title-cat-menu .right-down{
    display: none;
}
.title-cat-menu {
    color: #222;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 5px 10px 1px;
    text-transform: uppercase;
}
.box-menu-hover.act .title-cat-menu{
    color: #cc0000;
}
.box-menu-hover.act .title-cat-menu .ic-line{
    background: #cc0000;
}
.content-box-menu{
    background: #fff;
}
.content-box-menu.header-menu-other{
    border: 1px solid #ddd;
    display: none;
    height: 344px;
    position: absolute;
    width: 230px;
    z-index: 999;
}
.box-menu-title:hover .content-box-menu.header-menu-other{
    display: block;
}
.content-box-menu > ul{
    margin-bottom: 0;
}
.content-box-menu > ul > li{
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 13px;
    text-decoration: none;
}
.content-box-menu ul > li > a {
    display: inline-block;
    text-transform: none;
    width: 100%;
}
.content-box-menu ul > li:last-child{
    border-bottom: none;
}
.content-box-menu .list-subcat{
    border: 1px solid #ddd;
    display: none;
    left: 100%;
    width: 618px;
    padding-left: 30px;
    padding-right: 15px;
    position: absolute;
    top: -1px;
    z-index: 22;
    min-height: 352px;
    max-height: 352px;
    overflow: hidden;
}
.content-box-menu.header-menu-other .list-subcat {
    max-height: 344px;
    min-height: 344px;
    overflow: hidden;
}
.content-box-menu ul > li:hover .list-subcat{
    display: inline-block;
}
.list-subcat ul {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 38%;
}
.content-box-menu .list-subcat li {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}
.content-box-menu .list-subcat li a:hover{
    font-weight: bold;
}
.slider-box-mid {
    display: inline-block;
    float: left;
    height: 428px;
    margin-left: 5px;
    width: 730px;
    overflow: hidden;
}
.slider-box-mid img{
    width: 100%;
}
.ads-right-mid {
    display: inline-block;
    float: right;
    height: 428px;
    overflow: hidden;
    width: 328px;
}
.item-right-slider {
    margin-bottom: 10px;
}
.item-right-slider:last-child{
    margin-bottom: 0px;
}
.item-right-slider img {
    max-height: 209px;
    width: 100%;
}
.line-top{
    display: inline-block;
    width: 100%;
    clear: both;
}
.line-box{
    display: inline-block;
    width: 100%;
    clear: both;
    margin-top: 15px;
}
/*Product*/
.cate-box {
    background: #fafafa;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    padding: 8px 14px 7px;
    position: relative;
}
.inner-cate-box {
    line-height: 24px;
    margin-right: 30px;
    position: relative;
}
.hide-text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cate-box .parent-cate::before {
    border-color: transparent transparent transparent #2c3e50;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
}
.parent-cate {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding-right: 20px;
    position: relative;
}
.parent-cate a {
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
}
.list-sub-cate{
    display: inline-block;
}
.list-sub-cate .sub-item:first-child {
    border-left: 0 none;
}
.list-sub-cate .sub-item {
    border-left: 1px solid #d7d7d7;
    display: inline-block;
    font-size: 13px;
    padding: 0 12px;
    font-weight: normal;
}
.list-sub-cate .sub-item  a {
    color: #777;
    display: block;
}
.content-list-item {
    background: #fafafa;
    border-radius: 2px;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}
.w-home > ul {
    margin-right: -100px;
}
.w-home .item {
    background: #fff;
    display: inline-block;
    float: left;
    height: 320px;
    margin: 5px 15px 15px 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 224px;
}
.sale-off {
    background: rgba(0, 0, 0, 0) url("../img/discount.png") no-repeat scroll center top;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    height: 67px;
    line-height: 67px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;
}
.w-home .item .post-thumb {
    display: block;
    height: 225px;
    line-height: 225px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.w-home .item .post-thumb img {
    width: 100%;
}
.w-home .item .post-title {
    font-size: 12px;
    line-height: 1;
    margin: 0 0 8px;
    max-height: 36px;
    overflow: hidden;
}
.w-home .item .post-title a {
    color: #666;
    font-size: 14px;
    line-height: 18px;
}
.amount-1 {
    color: #c63829;
    font-size: 18px;
    font-weight: 400 !important;
    margin-right: 4px;
}
.amount-2 {
    color: #666 !important;
    position: relative;
    text-decoration: line-through;
}
.line-ads{
    clear: both;
    margin-top: 15px;
    width: 100%;
}
.banner-ads > img {
    width: 100%;
}