.img_loading{width: 32px; height: 32px; background: url("../img/ajax-loader.gif") no-repeat -1px -1px; float: left; display: none}

.marginTop10{margin-top:10px }
.marginTop20{margin-top:20px }
.marginTop30{margin-top:30px }

.text-middle{vertical-align: middle!important;}
